<!DOCTYPE html>
<html>
  <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
      <!--Personal stylesheet-->
      <link rel="stylesheet" href="/assets/css/project_2.css" rel="stylesheet" type="text/css">

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <nav class="grey darken-4">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo white-text pacifico-text">S<span class="deep-purple-text">kelly</span></a>

        <ul class="right">
          <li>
            {{#if user}}
                <a href="/signout">Log Out</a>
              </li>
            
              </ul>
              <ul class="right">
                <li id="nav-hi"><a>
                <strong>Hi,</strong>
                <span class="ibm-text deep-purple-text text-accent-1">{{user.username}}</span>
                </a></li>
                  
            {{else}}
              <a href="/signin">Sign In</a>
              </li>
            {{/if}}
        </ul>
      </div>
    </nav>

    <div class="container">

      {{#if error}}
        <p>{{error}}</p>
      {{/if}}

      {{#if success}}
        <p>{{success}}</p>
      {{/if}}

      {{#if notice}}
        <p>{{notice}}</p>
      {{/if}}

      <div class="row">
        <!--where our other templates will insert-->
        {{{body}}} 
      </div>      

    </div> <!-- /container -->

    
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Personal scripts-->
  {{!-- <script src="assets/js/script.js"></script>   --}}

  <script src="assets/js/main.js"></script>

  <script src="assets/js/userAuth.js"></script>
</body>
</html>